@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --font-Poppins: 'Poppins', sans-serif;
    --white: white;
    --color-blue: #0067dc;
    --black: black;
    --color-black-2: #171717;
    --red: #FF0000;
    --light-red: #ffb2b2;
    --grey: #707070;
    --mid-grey: #eaeef3;
    --light-grey: #e8e0e0;
}